name: .NET Tests

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x

      - name: Restore
        run: dotnet restore MusRoyalePC.sln

      - name: Build
        run: dotnet build MusRoyalePC.sln --no-restore

      - name: Test
        run: dotnet test MusRoyalePC.sln --no-build
