name: .NET Tests

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x

      - name: Build Main Project
        shell: pwsh
        run: |
          cd MusRoyalePC
          dotnet restore
          dotnet build --configuration Release --no-restore

      - name: Build and Run Tests
        shell: pwsh
        run: |
          cd MusRoyalePC.Tests
          dotnet restore
          dotnet build --configuration Release --no-restore
          dotnet test --configuration Release --no-build --verbosity normal